<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>KoolVit</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="csss/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="csss/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="csss/responsive.css">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="csss/colors/orange.css" />

    <!-- Modernizer -->
    <script src="jss/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="loader">
        <div id="status"></div>
    </div>
    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
           
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
	<!-- end site-header -->
	
    <div id="banner" class="banner full-screen-mode parallax">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1>Healthy food  <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Nutritious:Fresh:Balanced" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                           <h2 style="color: green;">KoolVit </h2>
                            <p>Early to bed and early to rise, makes a man healthy, wealthy, and wise</p>
                            <div class="book-btn">
                               <div style="display: flex justify-content-center;">
  <a href="/signin" class="table-btn hvr-underline-from-center" style="background-color: green; margin-right: 10px;border-color:green; ;">Signin page</a>
  <a href="/signup" class="table-btn hvr-underline-from-center" style="background-color: green;border-color: green;">Signup page</a>
</div>
                            </div>
                            <a href="#about">
                                <div class="mouse"></div>
                            </a>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>
    <!-- end banner -->

    <div id="about" class="about-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title" style="color: green;"> About Us </h2>
                        <h3>IT STARTED, QUITE SIMPLY, LIKE THIS...</h3>
                        <p>🍽️ Discover our brand new weekly meal recommendation service, tailored to your health situation! 🌱🥗🍲 </p>

                     <p>In these uncertain times, taking care of your health and well-being is more important than ever. That's why we are thrilled to introduce our weekly meal recommendation service, specially designed to meet your nutritional needs while considering your individual health situation.</p>
<p>When you sign up for our service, we ask you a few essential questions about your health condition, allergies, dietary preferences, and any other relevant information. Rest assured that this information is strictly confidential and allows us to personalize the meal recommendations provided to you.</p>
<p>Take care of yourself and your well-being while savoring delicious and nourishing meals with our weekly meal recommendation service!</p>
<p>Enjoy your meal! 🍽️✨</p>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="about-images">
                            <img class="about-main" src="images/about-main.jpg" alt="About Main Image">
                            <img class="about-inset" src="images/about-inset.jpg" alt="About Inset Image">
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>


    <!-- end special-menu -->

<div id="footer" class="footer-main">
    <!-- end footer-news -->
    <div class="footer-box pad-top-70">
        <div class="container">
            <div class="row">
                <div class="footer-in-main" style="display: flex; justify-content: center;">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-a">
                            <h3 style="color: green;">About Us</h3>
                            <p>Taking care of yourself</p>
<p>and your well-being</p>
									
                            
                            
                            <ul class="socials-box footer-socials pull-left">
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                    </a>
                                </li>
                              
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- end footer-box-a -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-c">
                            <h3 style="color: green;">Contact Us</h3>
                            <p>
                                <i class="fa fa-map-signs " style="color: green;" aria-hidden="true"></i>
                                <span>Rabat, Morocco</span>
                            </p>
                            <p>
                                <i class="fa fa-mobile " style="color: green;" aria-hidden="true"></i>
                                <span>+212 5XXXXXXXX</span>
                            </p>
                            <p>
                                <i class="fa fa-envelope " style="color: green;" aria-hidden="true"></i>
                                <span><a href="#">koolvit@food.com</a></span>
                            </p>
                        </div>
                        <!-- end footer-box-c -->
                    </div>
                   
                    <!-- end col -->
              <div class="ol-lg-3 col-md-3 col-sm-6 col-xs-12" >
    <div class="footer-box-d">
        <h3 style="color: green;">Opening Hours</h3>
       
            <li>
                <p>Monday - Thursday </p>
                <span>11:00 AM - 9:00 PM</span>
            </li>
            <li>
                <p>Friday - Saturday </p>
                <span>11:00 AM - 5:00 PM</span>
            </li>
    
    </div>
    <!-- end footer-box-d -->
</div>

                    <!-- end col -->
                </div>
                <!-- end footer-in-main -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
        <!-- end footer-box -->
    </div>
    <!-- end footer-box -->
</div>

<!-- end footer-main -->

    
    <!-- end footer-main -->

    <a href="#" class="scrollup" style="display: none;">Scroll</a>

  

    <!-- ALL JS FILES -->
    <script src="jss/all.js"></script>
    <script src="jss/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="jss/custom.js"></script>
</body>

</html>