<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>KoolVit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">



    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
  
    <style>
    .custom-btn:hover {
        background-color:rgb(25,112,62) !important;
          border-color:rgb(30,132,73)!important
    }
    .form-control:hover {
       
          border-color:rgb(30,132,73)!important
          
    }
    .form-control {
       
          border-color:black!important
          
    }
      .custom-btn {
		  
        background-color:rgb(25,112,62) !important;
        border-color: rgb(25,112,62) !important;
    }
        .custom-btn:focus {
        border-color: black !important;
        box-shadow: 0 0 0 0.25rem #4bd786!important;
    }

     
    .form-check-label:hover {
       
          border-color:rgb(30,132,73)!important
          
    }
      .custom-btn2 {
		  
        background-color:rgba(0, 0, 0, 0.47) !important;
        border-color: rgba(0, 0, 0, 0.47) !important;
    }
    
    
    
      .custom-radio-label {
        color: grey ;
        border-color: grey !important;
    }

    .custom-radio-label:hover {
       
        border-color:rgb(30,132,73)  ;
         box-shadow: 0 0 0 0.25rem rgb(30,132,73) ;
    }

    .custom-radio-label:focus {
      border-color: black !important;
    box-shadow: 0 0 0 0.25rem rgb(30,132,73) !important;
}
input[type="radio"]:checked + .custom-radio-label {
   border-color: black !important;
    box-shadow: 0 0 0 0.25rem rgb(30,132,73) ;
}
input[type="checkbox"]:checked + .custom-radio-label {
   border-color: black !important;
    box-shadow: 0 0 0 0.25rem rgb(30,132,73) ;
}
  input[type="checkbox"] + .custom-radio-label {
   border-color: initial !important;
   box-shadow: initial;
}  
</style>
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Wizard Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                        
    <h3 class="text-primary"><i class="	fas fa-comments	 me-2"></i>KoolVit</h3>


                         
                        </div>
  

                       
    
    <form  action="#" th:action="@{/save}" th:object="${user}" method="post">
		
		
			
		<div id="form0">
			<div class="d-flex align-items-center justify-content-center">
        <h3 class="m-0 text-center w-100">Your gender</h3>
    </div>
    <div class="col-sm-12 col-xl-12 d-flex justify-content-center">
        <div class="bg-secondary rounded h-100 p-2">
            <div class="btn-group-vertical" role="group"  >
                <input type="radio" class="btn-check" name="gender" value="mal" required id="btnradio01" >
                <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label"  for="btnradio01">I'm a mal</label>

                <input type="radio" class="btn-check" name="gender" id="btnradio02" value="female " autocomplete="off">
                <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="btnradio02">I'm a female</label>

                
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary py-3 w-100 mb-4 custom-btn" onclick="validateAge()">Next</button>

</div>
		
		
		
		
		
		
		
		
		
		
		
		
		<div id="form1" style="display: none;">
			<div class="d-flex align-items-center justify-content-center">
        <h3 class="m-0 text-center w-100">Age range</h3>
    </div>
    <div class="col-sm-12 col-xl-12 d-flex justify-content-center">
        <div class="bg-secondary rounded h-100 p-2">
            <div class="btn-group-vertical" role="group"  >
                <input type="radio" class="btn-check" name="age" value="adolescent" required id="btnradio11" >
                <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label"  for="btnradio11">Adolescent (15 ans - 19 ans)</label>

                <input type="radio" class="btn-check" name="age" id="btnradio12" value="Young adult" autocomplete="off">
                <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="btnradio12">Young adult (20 ans - 39 ans)</label>

                <input type="radio" class="btn-check"name="age" id="btnradio13" value="Middle-aged adult" autocomplete="off">
                <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="btnradio13">Middle-aged adult (40 ans - 64 ans)</label>

                <input type="radio" class="btn-check" name="age" id="btnradio14" value="Elderly" autocomplete="off">
                <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="btnradio14">Elderly (65 ans et plus)</label>
            </div>
        </div>
    </div>


                               <div class="row" >
  <div class="col-6">
    <button type="button" class="btn btn-secondary py-3 w-100 mb-4 custom-btn2" onclick="previousForm(0)">Previous</button>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary py-3 w-100 mb-4  custom-btn" onclick="validateAge1()">Next</button>
  </div>
</div>
</div>

  
  <div id="form3" style="display: none;">
							 <div class="d-flex align-items-center justify-content-center">
    <h3 class="m-0 text-center w-100">Your expectation</h3>
</div>
							 <div class="col-sm-12 col-xl-12 d-flex justify-content-center">
    <div class="bg-secondary rounded h-100 p-2">
        <div class="btn-group-vertical" role="group" >
            <input type="radio"  class="btn-check"  name="goal"id="btnradio31" value="gain weight" autocomplete="off">
            <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="btnradio31">I want to gain weight</label>
            
            <input type="radio"  class="btn-check " name="goal" id="btnradio32" value="lose weight" autocomplete="off">
            <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="btnradio32">I want to lose weight</label>
            
            <input type="radio"  class="btn-check" name="goal" id="btnradio33" value="maintain weight" autocomplete="off">
            <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="btnradio33">I want to maintain my weight</label>
            
            
        </div>
    </div>
</div>

                          
                              <div class="row" >
  <div class="col-6">
    <button type="button" class="btn btn-secondary py-3 w-100 mb-4 custom-btn2" onclick="previousForm(1)">Previous</button>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary py-3 w-100 mb-4  custom-btn" onclick="validateAge3()">Next</button>
  </div>
</div>
                        </div>

                                                   <div id="form4" style="display: none;">
                           <div class="d-flex align-items-center justify-content-center">
    <h3 class="m-0 text-center w-100">Health issue</h3>
</div>

		 <div class="col-sm-12 col-xl-12 d-flex justify-content-center">
    <div class="bg-secondary rounded h-100 p-2">
        <div class="btn-group-vertical" role="group"  >

            
            <input type="checkbox" class="btn-check " name="problem" id="checkbox2" required value="diabetic" autocomplete="off">
            <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="checkbox2">I am a person with diabetes</label>
            
          
            <input type="checkbox" class="btn-check" name="problem" id="checkbox4" value="allergic" autocomplete="off">
            <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="checkbox4">I have a food allergy</label>
            
             <input type="checkbox" class="btn-check" name="problem" id="checkbox5" value="None" autocomplete="off">
            <label class="btn btn-outline-primary w-100 mb-3 custom-radio-label" for="checkbox5">None of the above</label>
        </div>
    </div>
</div>

    <div class="row" >
		 <div class="col-6">
    <button type="button" class="btn btn-primary py-3 w-100 mb-4  custom-btn2" onclick="previousForm(3)">Previous</button>
  </div>
  <div class="col-6">
	   <button type="submit" class="btn btn-primary py-3 w-100 mb-4 custom-btn" onclick="validateAge4()">Finish</button>
   
  </div>
 
</div>

 
        </div>            
                            
                        </form>
                      
                    </div>
                </div>
            </div>
        </div>
        <!-- Wizard End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script>
        let currentForm = 0;
        const totalForms = 4;

        function nextForm(next) {
            document.getElementById("form" + currentForm).style.display = "none";
            document.getElementById("form" + next).style.display = "block";
            currentForm = next;
        }

        function previousForm(previous) {
            document.getElementById("form" + currentForm).style.display = "none";
            document.getElementById("form" + previous).style.display = "block";
            currentForm = previous;
        }
        
    </script>
    <script>
		  function validateAge1() {
    var age = document.querySelector('input[name="age"]:checked');
    if (!age) {
        var ageField = document.querySelector('input[name="age"]');
        ageField.setCustomValidity("The field is required.");
        ageField.reportValidity();
        return;
    }
    nextForm(3);
    }
  function validateAge() {
    var age = document.querySelector('input[name="gender"]:checked');
    if (!age) {
        var ageField = document.querySelector('input[name="gender"]');
        ageField.setCustomValidity("The field is required.");
        ageField.reportValidity();
        return;
    }
    nextForm(1);
    }
    function validateAge2() {
    var age = document.querySelector('input[name="status"]:checked');
    if (!age) {
        var ageField = document.querySelector('input[name="status"]');
        ageField.setCustomValidity("The field is required.");
        ageField.reportValidity();
        return;
    }
    nextForm(3);
}
    function validateAge3() {
    var age = document.querySelector('input[name="goal"]:checked');
    if (!age) {
        var ageField = document.querySelector('input[name="goal"]');
        ageField.setCustomValidity("The field is required.");
        ageField.reportValidity();
        return;
    }
    nextForm(4);
}
function validateAge4() {
    var goal = document.querySelector('input[name="problem"]:checked');
    if (!goal) {
        var goalField = document.querySelector('input[name="probleme"]');
        goalField.setCustomValidity("The field is required.");
        goalField.reportValidity();
        return;
    }
   
    document.querySelector('form').submit();
}


</script>
</body>

</html>